@model IQueryable<NewsItem>
@{ 
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}

<div class="div-box">
<a asp-area="" asp-controller="News" asp-action="Edit">Добавить новость</a>
</div>
    <div>
        @if (Model.Any())
        {
            <ul>
                @foreach (NewsItem entity in Model)
                {
                    @if(entity.IsApproved)
                    {
                        <li>
                            <a asp-area="" asp-controller="News" asp-action="Index" asp-route-id="@entity.Id" />
                            <h4>@entity.Title</h4>
                            <p>@entity.Subtitle</p>
                            <h4>@entity.DateAdded</h4>
                        </li>
                    }
                }
            </ul>
        }
    </div>
